* {box-sizing: border-box}
body
{
  margin: 0;
  padding: 0;
font-family: 'Courier New', monospace;
height: 100%;
}
.salut{
  font-size: 25px;
  text-align: center;
  color: black;
  
}

/*Meniul de sus*/
.navbar {
  width: 100%;
  background-color: #25282c;;
  overflow: auto;
  text-align: center;
  margin: 0;
}

.navbar a {
  padding: 25px; /*raspunde de latimea barei de meniu*/
  color: #fff;    /*rapsunde de culoarea textului*/
  text-decoration: none;  
  font-size: 20px;
  font-weight: bold;
  width: 150px;   /*raspunde de latimea cadranelor cu cuvinte*/
  text-align: center; /*alinierea textului din cadrane*/
}

.navbar a:hover {
  background-color: #808080;
}

.navbar a.active {
  background-color: #abb8c3;
}

/*Animatia de sup la meniul de sus*/
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}
.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 600px) {
  .navbar a ul {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}


.bg-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9a/Gull_portrait_ca_usa.jpg");
  /*blur effect*/
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}


